.box {
	background-color: rgb(75, 125, 175);
	color: #fff;
	height: 100px;
	width: 100px;
	margin: auto;
	text-align: center;
	text-transform: uppercase;
	padding-top: 40px;
	box-sizing: border-box;
}