h1 {
	text-transform: uppercase;
	text-align: center;
}

h3 {
	text-indent: 0px;
	padding-left: 0px;
}

ul {
	text-indent: 0px;
	padding-left: 5px;
}

.avatar {
	width: 200px;
	height: 200px;
	border: 1px;
	display: block;
	margin: auto;
}

.description {
	width: 450px;
	margin: auto;
	text-align: left; 
}

.description > div {
	padding-left: 25px;
}

.short_description {
	text-indent: 0px;
}

.line {
	width: 100%;
	margin: auto;
	border-color: rgba(0, 0, 0, 0.25);
}

#below {
	border-color: rgba(0, 0, 0, 0.1);
}