<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Тест на просвітлення</title>
	<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
	<script src="js/tmpl.js"></script>
	<script src="js/script.js"></script>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<script type="text/template" id="test">
		<form class="test" action="" id="test">
			<h3>Тест на просвітлення</h3>
			<ul class="question-box">
				<% for (var i = 0; i < data.length; i++) { %>	
				<li class="question">	
					<h4 class="question-title"><%= data[i].question %></h4>
					<% for (var j = 0; j < data[i].answers.length; j++) { %>
					<p class="question-answer">
						<input class="answer-radio" type="checkbox" name="<%= 'question' + (i+1) %>" id="<%= 'answers_' + (i+1) + '_' + (j+1)  %>">
						<label class="answer-label" for="<%= 'answers[' + (i+1) + '][' + (j+1) + ']' %>"><%= data[i].answers[j][0] %></label>
					</p>
					<% }; %>
				</li>
				<% }; %>
			</ul>
			<input type="submit" name="done" value="Просвітлитись">
		</form>
	</script>
</body>
</html>