<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MVC</title>
    <script data-main="js/app.js" src="js/require.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <script type="text/template" id="wrapper-template">
        <div class="wrapper">
            <ul class="item-list">
            </ul>
            <div class="controlls">
                <input type="text" class="item-value">
                <button class="item-add">Add</button>
                <button class="item-change">Change</button>
            </div>
        </div>
    </script>
    <script type="text/template" id="list-template">
    	<% for(var i = 0; i < data.length; i++) {%>
        <li class="item-element">
        	<%= data[i] %>
        	<span data-value="<%= data[i] %>" class="item-edit"> edit</span>
        	<span data-value="<%= data[i] %>" class="item-delete"> delete</span>
        </li>
        <% }; %>
    </script>	
</body>

</html>