.menu {
	background-color: #eee;
	font-size: 24px;
	list-style: none;
	margin: 20px;
}

.menu a {
	text-decoration: none;
}

.submenu {
	display: none;
	font-size: 16px;
	list-style: none;
}

.submenu li {
	margin: 5px;
}