body {
	font: small arial,sans-serif;
}

.clearfix::after {
	content: "";
	clear: both;
	display: block;
	visibility: hidden;
}


/* HEADER */

.menu {
	justify-content: center;
	float: right;
	margin-top: 15px;
}

.menu__item {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

.menu__link {
	color: #000;
	opacity: 0.75;
	line-height: 24px;
	text-decoration: none;
}

.menu__link:hover {
	text-decoration: underline;
}

/*.menu__link:visited {
	color: #609;
}*/

.google-apps-menu {
	background: url("../img/icons_spritesheet.png") no-repeat;
	background-position: -35px -276px;
	box-sizing: border-box;
	cursor: pointer;
	height: 30px;
	opacity: 0.55;
	width: 30px;
}

.google-apps-menu:hover {
	opacity: 0.85;
}

.google-notifications {
	background: rgba(0, 0, 0, 0.55) url("../img/icons_spritesheet.png") no-repeat;
	background-position: -70px -2010px;	
	border-radius: 50%;
	box-sizing: border-box;
	cursor: pointer;
	height: 20px;
	padding: 0 2px;
	margin: 5px;
	width: 20px;
}

.google-notifications:hover {
	background-color: rgba(0, 0, 0, 0.85); 
}

.user-picture {
	background: url("../img/avatar-min.jpg") no-repeat;
	background-size: 32px;
	background-position: 0 -3px; 
	border-radius: 50%;
	display: block;
	height: 32px; 
	width: 32px;
}

/* LOGO */
.logo {
	margin-top: 112px;
	text-align: center;
}

.logo__pic {
	height: 92px;
	width: 272px;
}

.logo__text {
	color: #4285f4;
	position: relative;
	left: 105px;
	top: -20px;
}

/* SEARCH FORM */

.search-form-wrapper {
	text-align: center;
}

.search-form {
}

.search-field {
	border: none;
	border-radius: 2px;
	box-sizing: border-box;
	box-shadow: 
		0 2px 2px 0 rgba(0,0,0,0.16),
		0 0 0 1px rgba(0,0,0,0.08);
	height: 44px;
	width: 100%;
}

.search-field::placeholder {
	color: rgba(0,0,0,0.38);
}

.search-field[type=text]:focus.search-field::placeholder {
	visibility: hidden;
}

.search-field[type=text] {
	color: rgba(0,0,0,0.38);
	font-size: 16px;
	padding: 4px 13px;
}

.search-field[type=text]:focus {
	outline: none;
}

.search-field-wrapper {
	display: inline-block;
	position: relative;
	width: 644px;
	transition: width 0.25s;
}

.search-field-wrapper:after {
	background: url("../img/icon.png") no-repeat;
	background-position: center center;
	background-size: 24px 24px;
	content: "";
	display: block;
	height: 21px;
	position: absolute;
	top: 12px;
	right: 5px;
	width: 17px;
}

@media (max-width: 864px) {
    .search-field-wrapper {
		width: 494px;
	}
}

@media (max-width: 694px) {
    .search-field-wrapper {
		width: 324px;
	}
}