/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Roboto-Regular/Roboto-Regular.eot"), url("../fonts/Roboto-Regular/Roboto-Regular.eot#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular/Roboto-Regular.woff2") format("woff2");
  src: local("Roboto-Regular"), local("Roboto Regular"), local("RobotoRegular");
}

@font-face {
  src: local("Roboto-Black"), local("Roboto Black"), local("RobotoBlack");
  font-family: "Roboto-Black";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Roboto-Black/Roboto-Black.eot"), url("../fonts/Roboto-Black/Roboto-Black.eot#iefix") format("embedded-opentype"), url("../fonts/Roboto-Black/Roboto-Black.ttf") format("truetype"), url("../fonts/Roboto-Black/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black/Roboto-Black.woff2") format("woff2");
}

@font-face {
  src: local("Roboto-BlackItalic"), local("Roboto BlackItalic"), local("RobotoBlackItalic");
  font-family: "Roboto-Black";
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/Roboto-BlackItalic/Roboto-BlackItalic.eot"), url("../fonts/Roboto-BlackItalic/Roboto-BlackItalic.eot#iefix") format("embedded-opentype"), url("../fonts/Roboto-BlackItalic/Roboto-BlackItalic.ttf") format("truetype"), url("../fonts/Roboto-BlackItalic/Roboto-BlackItalic.woff") format("woff"), url("../fonts/Roboto-BlackItalic/Roboto-BlackItalic.woff2") format("woff2");
}

@font-face {
  src: local("Roboto-Bold"), local("Roboto Bold"), local("RobotoBold");
  font-family: "Roboto";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/Roboto-Bold/Roboto-Bold.eot"), url("../fonts/Roboto-Bold/Roboto-Bold.eot#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold/Roboto-Bold.woff2") format("woff2");
}

@font-face {
  src: local("Roboto-Italic"), local("Roboto Italic"), local("RobotoItalic");
  font-family: "Roboto";
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/Roboto-Italic/Roboto-Italic.eot"), url("../fonts/Roboto-Italic/Roboto-Italic.eot#iefix") format("embedded-opentype"), url("../fonts/Roboto-Italic/Roboto-Italic.ttf") format("truetype"), url("../fonts/Roboto-Italic/Roboto-Italic.woff") format("woff"), url("../fonts/Roboto-Italic/Roboto-Italic.woff2") format("woff2");
}

@font-face {
  src: local("Roboto-BoldItalic"), local("Roboto BoldItalic"), local("RobotoBoldItalic");
  font-family: "Roboto";
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/Roboto-BoldItalic/Roboto-BoldItalic.eot"), url("../fonts/Roboto-BoldItalic/Roboto-BoldItalic.eot#iefix") format("embedded-opentype"), url("../fonts/Roboto-BoldItalic/Roboto-BoldItalic.ttf") format("truetype"), url("../fonts/Roboto-BoldItalic/Roboto-BoldItalic.woff") format("woff"), url("../fonts/Roboto-BoldItalic/Roboto-BoldItalic.woff2") format("woff2");
}

@font-face {
  src: local("Roboto-Light"), local("Roboto Light"), local("RobotoLight");
  font-family: "Roboto-Light";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Roboto-Light/Roboto-Light.eot"), url("../fonts/Roboto-Light/Roboto-Light.eot#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto-Light/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light/Roboto-Light.woff2") format("woff2");
}

@font-face {
  src: local("Roboto-LightItalic"), local("Roboto LightItalic"), local("RobotoLightItalic");
  font-family: "Roboto-Light";
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/Roboto-LightItalic/Roboto-LightItalic.eot"), url("../fonts/Roboto-LightItalic/Roboto-LightItalic.eot#iefix") format("embedded-opentype"), url("../fonts/Roboto-LightItalic/Roboto-LightItalic.ttf") format("truetype"), url("../fonts/Roboto-LightItalic/Roboto-LightItalic.woff") format("woff"), url("../fonts/Roboto-LightItalic/Roboto-LightItalic.woff2") format("woff2");
}

@font-face {
  src: local("Roboto-Medium"), local("Roboto Medium"), local("RobotoMedium");
  font-family: "Roboto-Medium";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Roboto-Medium/Roboto-Medium.eot"), url("../fonts/Roboto-Medium/Roboto-Medium.eot#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto-Medium/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium/Roboto-Medium.woff2") format("woff2");
}

@font-face {
  src: local("Roboto-MediumItalic"), local("Roboto MediumItalic"), local("RobotoMediumItalic");
  font-family: "Roboto-Medium";
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/Roboto-MediumItalic/Roboto-MediumItalic.eot"), url("../fonts/Roboto-MediumItalic/Roboto-MediumItalic.eot#iefix") format("embedded-opentype"), url("../fonts/Roboto-MediumItalic/Roboto-MediumItalic.ttf") format("truetype"), url("../fonts/Roboto-MediumItalic/Roboto-MediumItalic.woff") format("woff"), url("../fonts/Roboto-MediumItalic/Roboto-MediumItalic.woff2") format("woff2");
}

@font-face {
  src: local("Roboto-Thin"), local("Roboto Thin"), local("RobotoThin");
  font-family: "Roboto-Thin";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Roboto-Thin/Roboto-Thin.eot"), url("../fonts/Roboto-Thin/Roboto-Thin.eot#iefix") format("embedded-opentype"), url("../fonts/Roboto-Thin/Roboto-Thin.ttf") format("truetype"), url("../fonts/Roboto-Thin/Roboto-Thin.woff") format("woff"), url("../fonts/Roboto-Thin/Roboto-Thin.woff2") format("woff2");
}

@font-face {
  src: local("Roboto-ThinItalic"), local("Roboto ThinItalic"), local("RobotoThinItalic");
  font-family: "Roboto-Thin";
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/Roboto-ThinItalic/Roboto-ThinItalic.eot"), url("../fonts/Roboto-ThinItalic/Roboto-ThinItalic.eot#iefix") format("embedded-opentype"), url("../fonts/Roboto-ThinItalic/Roboto-ThinItalic.ttf") format("truetype"), url("../fonts/Roboto-ThinItalic/Roboto-ThinItalic.woff") format("woff"), url("../fonts/Roboto-ThinItalic/Roboto-ThinItalic.woff2") format("woff2");
}

@font-face {
  src: local("Montserrat-Bold"), local("Montserrat Bold"), local("MontserratBold");
  font-family: "Montserrat";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/Montserrat-Bold/Montserrat-Bold.eot"), url("../fonts/Montserrat-Bold/Montserrat-Bold.eot#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold/Montserrat-Bold.woff2") format("woff2");
}

@font-face {
  src: local("Montserrat-Regular"), local("Montserrat Regular"), local("MontserratRegular");
  font-family: "Montserrat";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Montserrat-Regular/Montserrat-Regular.eot"), url("../fonts/Montserrat-Regular/Montserrat-Regular.eot#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular/Montserrat-Regular.woff2") format("woff2");
}

body {
  background-color: #fff;
}

.clear-fix::after {
  display: block;
  content: '';
  clear: both;
  overflow: hidden;
}

.top-wrapper {
  background: url("../img/banerPic.jpg") no-repeat center top;
  -webkit-background-size: cover;
          background-size: cover;
  height: 700px;
  width: 100%;
}

.top {
  margin: auto;
  max-width: 940px;
  padding-top: 20px;
  width: auto;
  text-align: center;
}

.brand {
  cursor: pointer;
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: bold;
  float: left;
  text-transform: uppercase;
}

.brand-white {
  color: #fff;
}

.login {
  float: right;
}

.link {
  color: #fff;
  display: inline-block;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 15px;
}

.link-white {
  border: 2px solid #fff;
  -webkit-border-radius: 16px;
          border-radius: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 32px;
  width: 90px;
  padding: 0 15px;
  text-align: center;
}

.link:hover, .brand:hover {
  color: #ffff64;
  border-color: #ffff64;
}

.title {
  color: #fff;
  font-family: 'Montserrat';
  font-size: 52px;
  font-weight: bold;
  text-transform: uppercase;
}

.title-top {
  display: inline-block;
  width: 490px;
  margin-top: 150px;
}

.subtitle {
  color: #fff;
  font-family: 'Roboto-Light';
  font-size: 24px;
  margin-top: 45px;
}

.link-red {
  background-color: #ff4e50;
  line-height: 40px;
  margin-top: 35px;
  padding: 0 20px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
}

.middle {
  text-align: center;
  max-width: 940px;
  margin: auto;
}

.title-middle {
  color: #333333;
  font-size: 22px;
  margin-top: 100px;
  margin-bottom: 40px;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
}

.tutorial {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.tutorial-step:nth-of-type(1) {
  background: url("../img/tutorialPic01.jpg") no-repeat;
}

.tutorial-step:nth-of-type(2) {
  background: url("../img/tutorialPic02.jpg") no-repeat;
}

.tutorial-step:nth-of-type(3) {
  background: url("../img/tutorialPic03.jpg") no-repeat;
}

.tutorial-step {
  -webkit-background-size: cover;
          background-size: cover;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 400px;
  width: 300px;
  margin-right: 15px;
  padding: 20px;
  text-align: left;
  position: relative;
}

.tutorial-step:last-of-type {
  margin-right: 0;
}

.tutorial-step::before {
  background: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(rgba(0, 0, 0, 0.7)), color-stop(70%, rgba(0, 0, 0, 0.1)));
  background: -webkit-linear-gradient(0, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1) 70%);
  background: -o-linear-gradient(0, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1) 70%);
  background: linear-gradient(0, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1) 70%);
  -webkit-border-radius: 5px;
          border-radius: 5px;
  content: '';
  display: block;
  height: 400px;
  width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.tutorial-step__counter {
  background-color: #ff4e50;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  color: #fff;
  display: inline-block;
  font-family: 'Montserrat';
  font-size: 10px;
  line-height: 20px;
  padding: 0 15px;
  margin-bottom: 18px;
  position: relative;
  z-index: 2;
}

.tutorial-step__counter::before {
  content: 'step ';
  text-transform: uppercase;
}

.tutorial-step__title {
  color: #fff;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  position: relative;
  z-index: 2;
}

.tutorial-step__description {
  color: #ccc;
  display: inline-block;
  font-family: 'Roboto-Light';
  vertical-align: bottom;
  margin-top: 18px;
  position: relative;
  z-index: 2;
}

.partners {
  text-align: center;
}

.partners-person {
  display: inline-block;
  width: 220px;
  margin-right: 10px;
  vertical-align: top;
}

.partners-person:last-of-type {
  margin-right: 0;
}

.partners-person__avatar {
  -webkit-border-radius: 60px;
          border-radius: 60px;
  height: 120px;
  margin: auto;
  width: 120px;
  position: relative;
}

.partners-person:nth-of-type(1) .partners-person__avatar {
  background: url("../img/partnerPic01.jpg") no-repeat;
}

.partners-person:nth-of-type(2) .partners-person__avatar {
  background: url("../img/partnerPic02.jpg") no-repeat;
}

.partners-person:nth-of-type(3) .partners-person__avatar {
  background: url("../img/partnerPic03.jpg") no-repeat;
}

.partners-person:nth-of-type(4) .partners-person__avatar {
  background: url("../img/partnerPic04.jpg") no-repeat;
}

.partners-person__avatar::after {
  background: url("../img/partnersIcons.png") no-repeat;
  border: 3px solid #fff;
  -webkit-border-radius: 21px;
          border-radius: 21px;
  -webkit-box-shadow: 0 0 0 1px #fff inset;
          box-shadow: 0 0 0 1px #fff inset;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  bottom: 0;
  content: '';
  display: block;
  height: 38px;
  position: absolute;
  right: 0;
  width: 38px;
}

.partners-person:nth-of-type(1) .partners-person__avatar::after {
  background-position: 0px;
}

.partners-person:nth-of-type(2) .partners-person__avatar::after {
  background-position: -32px;
}

.partners-person:nth-of-type(3) .partners-person__avatar::after {
  background-position: -64px;
}

.partners-person:nth-of-type(4) .partners-person__avatar::after {
  background-position: -96px;
}

.partners-person__name {
  color: #333;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 14px;
  margin-top: 25px;
}

.partners-person__about {
  color: #666;
  font-family: 'Roboto-Light';
  font-size: 14px;
  margin-top: 20px;
}

.link-red-borders {
  border: 2px solid red;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  color: red;
  display: inline-block;
  line-height: 40px;
  padding: 0 30px;
  margin-top: 40px;
}

.link-red-borders:hover, .brand-red:hover {
  color: #329632;
  border-color: #329632;
}

.search__description {
  color: #333;
  font-family: 'Roboto-Light';
}

.search__form {
  padding-top: 40px;
}

.search__field {
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 0 0 #eee;
          box-shadow: 0 1px 0 0 #eee;
  color: #999;
  font-famile: 'Roboto-Light';
  height: 40px;
  padding: 0 15px;
  width: 240px;
}

.search__submit {
  border: none;
  cursor: pointer;
  padding: 0 25px;
  margin: 0;
  margin-left: 10px;
}

.bottom-wrapper {
  border-top: 4px solid #ff4e50;
  margin-top: 100px;
  padding-bottom: 40px;
  padding-top: 35px;
}

.bottom {
  max-width: 940px;
  margin: auto;
}

.brand-red {
  color: #ff4e50;
  display: inline-block;
  float: none;
  font-size: 16px;
  vertical-align: top;
  margin-right: 100px;
}

.menu {
  display: inline-block;
  vertical-align: top;
}

.menu__section {
  display: inline-block;
  vertical-align: top;
  margin-right: 90px;
}

.menu__section-title {
  color: #333;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 15px;
}

.menu__link {
  color: #666;
  display: inline-block;
  font-family: 'Roboto-Light';
  font-size: 14px;
  text-decoration: none;
  margin-bottom: 12px;
}

.menu__link:hover {
  font-weight: bold;
}

.design-author {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  float: right;
}

.design-author__text {
  color: #ccc;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 10px;
  text-align: right;
  margin-bottom: 10px;
}
